body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.header {
    overflow: hidden;
    background-color: #f0eeee;
    padding: 0px 0px;
    height: 30px;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    border-left: 1px solid #1A1A1A;
    border-right: 1px solid #1A1A1A;
  }
  
  @media screen and (max-width: 50px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }