

<!------ Include the above in your HEAD tag ---------->

<div id="wrapper" class="active" class="container">
  
    <!-- Sidebar -->
    <div id="sidebar-wrapper-1" >
      <div class="breadcrumbs"><h4>Breadcrumb here</h4></div>
      <ul class="sidebar-nav" id="sidebar">     
        <li ><a class="leftbar-header" href="#">Elements</a>
          <ul class="sub-element"> 
              <li class="element"><a href="#">Element 1</a></li>
              <li class="element"><a href="#">Element 2</a> </li>
              <li class="element"><a href="#">Element 3</a> </li>
              <li class="element"><a href="#">Element 4</a> </li>
          </ul>
        </li>
        
        
      </ul>
      <ul class="sidebar-nav" id="sidebar">     
          <li><a class="leftbar-header">Attributes</a>
            <ul class="sub-element">
                <li class="element"><a href="#">Attribute 1</a></li>
                <li class="element"><a href="#">Attribute 2</a></li>
                <li class="element"><a href="#">Attribute 3</a></li>
                <li class="element"><a href="#">Attribute 4</a></li>
            </ul>
          </li>
        </ul>
        
    </div>
    <div id="sidebar-wrapper-2" >
        <ul class="sidebar-nav" id="sidebar">     
          <li><a class="leftbar-header" href="#">Selector</a></li>
          <li><a class="leftbar-header" href="#">Selector</a></li>
          <li><a class="leftbar-header" href="#">Selector</a></li>
        </ul>
    </div>

</div>